/*Table of contents
1) Fonts
2) Page Layouts
3) Title Layouts


*/


/* 1 - Fonts*/
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200');


/* 2 - Page Layouts */

.page-wrapper{
    background-color: #55ebfc;
}

body {
    margin: 0;
}


/* 3 - Title Layouts*/
.title {
    color: black;
}
.titlemain {
    font-size: 230%;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: yellow;
    font-family: 'Londrina Outline', cursive;
}
.titlesecond {
    padding-top: 70px;
    font-size:100%;
}
.titleothers {
    text-align: right;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
}


/*  Main Images */
.image_std{
    padding: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
    box-shadow: 0 0 250px rgba(0,0,0,0.95) inset;
}
.center-image{
	background: linear-gradient(rgba(121, 85, 72, 0.45), rgba(121, 85, 72, 0.45)),
url(https://i.imgur.com/Ax8M3WN.jpg);
}

/* display */
.main_grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
            ". . f f f f f f f f f ."
            ". . f f f f f f f f f ."
            ". . f f f f f f f f f .";
}
.full_post{
    grid-area: f;
    color: white;
}
.comment {
    margin: 20px 0px 20px 20px;
}

/* footer styling*/
.footy{
    font-size: 70%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}