/*Table of contents
1) Fonts
2) Page Layouts
3) Title Layouts


*/


/* 1 - Fonts*/
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200');


/* 2 - Page Layouts */

.page-wrapper{
    background-color: #55ebfc;
}

body {
    margin: 0;
}


/* 3 - Title Layouts*/
.title {
    color: black;
}
.titlemain {
    font-size: 230%;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: yellow;
    font-family: 'Londrina Outline', cursive;
}
.titlesecond {
    padding-top: 70px;
    font-size:100%;
}
.titleothers {
    text-align: right;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
}
.indexlink:link {
    text-decoration: none;
}

/*  Main Images */
.image_std{
    padding: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
    box-shadow: 0 0 250px rgba(0,0,0,0.95) inset;
}
.center-image{
	background: linear-gradient(rgba(121, 85, 72, 0.45), rgba(121, 85, 72, 0.45)),
url(https://i.imgur.com/Ax8M3WN.jpg);
}

/* display */
.main_grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
    grid-template-areas:
            "s s s i i i i i i i i i"
            "s s s i i i i i i i i i"
            "s s s i i i i i i i i i"
            "s s s d d d d d d d d d"
            "s s s d d d d d d d d d"
            "s s s d d d d d d d d d";
}

.sidebar_layout{
    grid-area: s;
    background-color: rgba(0,255,0,.4);
    color: #ffffff;
    overflow-y: auto;
    box-shadow: 0 0 250px rgba(0,0,0,0.95) inset;
}
.image_layout{
    grid-area: i;
    background-color: rgba(255,0,0,.4);
    color: #ffffff;
    overflow-y: auto;
    box-shadow: 0 0 250px rgba(0,0,0,0.95) inset;
}
.detail_layout{
    grid-area: d;
    background-color: rgba(0,0,255,.4);
    color: #ffffff;
    overflow-y: auto;
    box-shadow: 0 0 250px rgba(0,0,0,0.95) inset;
}

/* page styling */
.btn_style {
    margin: 5px;
    font-size: 80%;
    background-color:transparent;
    border:none;
    color: #fff;
    width: 100%;
}

/* manufactured part overlay */
/* The rest of this design is located in popstyle.css */
.hidden{
    display:none;
}

.main_overlay {
    position: fixed;
    left: 20px;
    top: 70px;
    width: 95%;
    height: 95%;
    background: linear-gradient(to bottom right, rgba(85, 235, 252), rgba(255, 255, 255));
    border: 10px solid yellow;
    border-radius: 15px;
    box-shadow: 0 0 250px rgba(0,0,0,0.95) inset;
}


/* footer styling*/
.footy{
    font-size: 70%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

