/*Table of contents
1) Fonts
2) Page Layouts
3) Title Layouts


*/


/* 1 - Fonts*/
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200');


/* 2 - Page Layouts */

.page-wrapper{
    background-color: #55ebfc;
}

body {
    margin: 0;
}


/* 3 - Title Layouts*/
.title {
    color: black;
}
.titlemain {
    font-size: 230%;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: yellow;
    font-family: 'Londrina Outline', cursive;
}
.indexlink:link {
    text-decoration: none;
}
.titlesecond {
    padding-top: 70px;
    font-size:100%;
}
.titleothers {
    text-align: right;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
}
.subheaders{
    font-size: 130%;
    width: 100%;
    text-align: center;
    background-color: yellow;
    font-family: 'Londrina Outline', cursive;
    color: black;
    text-decoration: none;
}
.applinks:link {
    text-decoration: none;
}


/* 4- Main Images */
.image_std{
    padding: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
    box-shadow: 0 0 250px rgba(0,0,0,0.95) inset;
}
.top-image{
	background: linear-gradient(rgba(121, 85, 72, 0.45), rgba(121, 85, 72, 0.45)),
url(https://i.imgur.com/xm10FXa.jpg);
}
.center-image{
	background: linear-gradient(rgba(121, 85, 72, 0.45), rgba(121, 85, 72, 0.45)),
url(https://i.imgur.com/XM2s6P7.jpg);
}
.bottom-image{
	background: linear-gradient(rgba(121, 85, 72, 0.45), rgba(121, 85, 72, 0.45)),
url(http://www.tomeipowered.com/BTE/uploads/2015/12/IMG_0168-L.jpg);
}


/* 5- Vehicle Choice Styling*/
.veh_choices{
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    text-align: center;
    color: #fff;
}
.veh_buttons{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 250px 250px 250px;
    grid-gap: 5px;
    grid-template-areas:
            "one one one one one one one one one one one one"
            "two two two two two two two two two two two two"
            "three three three three three three three three three three three three";
    color: #fff;
    padding: 20px;
}
.veh_images{
    font-size: 150%;
    font-family: 'Raleway', sans-serif;
    text-align:center;
    border-radius: 20px;
}
.veh_boxone{
    grid-area: one;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.veh_boxone:hover .veh_one{
    background-size: 120%;
    border-radius: 0;
    color:red;
}
.veh_boxone:hover .veh_oneword{
    color:red;
    background-color: rgba(0,0,0,.3);
    border-radius: 35px;
    font-size: 150%;
}
.veh_one{
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.45), rgba(255,255,255,0.45)), url(https://i.imgur.com/ROwIFck.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
    transition: 2s;
    transition-timing-function: ease;
    width: 40%;
}
.veh_boxtwo{
    grid-area: two;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.veh_boxtwo:hover .veh_two{
    background-size: 120%;
    border-radius: 0;
    color:red;
}
.veh_boxtwo:hover .veh_twoword{
    color:red;
    background-color: rgba(0,0,0,.3);
    border-radius: 35px;
    font-size: 150%;
}
.veh_two{
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.45), rgba(255,255,255,0.45)), url(https://i.imgur.com/PZxIOka.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
    transition: 2s;
    transition-timing-function: ease;
    width: 40%;
}
.veh_boxthree{
    grid-area: three;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.veh_boxthree:hover .veh_three{
    background-size: 120%;
    border-radius: 0;
    color:red;
}
.veh_boxthree:hover .veh_threeword{
    color:red;
    background-color: rgba(0,0,0,.3);
    border-radius: 35px;
    font-size: 150%;
}
.veh_three{
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.45), rgba(255,255,255,0.45)), url(https://i.imgur.com/HuPdFxc.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
    transition: 2s;
    transition-timing-function: ease;
    width: 40%;
}
.veh_text{
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #fff;
    width: 50%;
}
.veh_oneword{
    transition: 2s;
    transition-timing-function: ease;
}
.veh_twoword{
    transition: 2s;
    transition-timing-function: ease;
}
.veh_threeword{
    transition: 2s;
    transition-timing-function: ease;
}


/* 6- Site Choice Styling (photos, news, upcoming */
.site_choices{
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    text-align: center;
    color: #fff;
}
.site_buttons{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 250px 250px 250px;
    grid-gap: 5px;
    grid-template-areas:
          "one one one one one one one one one one one one"
          "two two two two two two two two two two two two"
          "three three three three three three three three three three three three";
    color: #fff;
    border-radius: 5px;
    padding: 20px;
}
.site_images{
    font-size: 150%;
    font-family: 'Raleway', sans-serif;
    text-align:center;
    border-radius: 20px;
}
.site_boxone{
    grid-area: one;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.site_boxone:hover .site_one{
    background-size: 120%;
    border-radius: 0;
    color:red;
}
.site_boxone:hover .site_oneword{
    color:red;
    background-color: rgba(0,0,0,.3);
    border-radius: 35px;
    font-size: 150%;
}
.site_one{
    background: -moz-linear-gradient(right, rgba(0,0,0,0.45), rgba(255,255,255,0.45)), url(https://i.imgur.com/n1nYo2T.jpg);
    background-size: 100%;
    background-position: center;
    transition: 2s;
    transition-timing-function: ease;
    width: 40%;
}
.site_boxtwo{
    grid-area: two;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.site_boxtwo:hover .site_two{
    background-size: 120%;
    border-radius: 0;
    color:red;
}
.site_boxtwo:hover .site_twoword{
    color:red;
    background-color: rgba(0,0,0,.3);
    border-radius: 35px;
    font-size: 150%;
}
.site_two {
    background: -moz-linear-gradient(right, rgba(0,0,0,0.45), rgba(255,255,255,0.45)), url(https://i.imgur.com/48YWRHF.jpg);
    background-size: 100%;
    background-position: center;
    transition: 2s;
    transition-timing-function: ease;
    width: 40%;
}
.site_boxthree{
    grid-area: three;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.site_boxthree:hover .site_three{
    background-size: 120%;
    border-radius: 0;
    color:red;
}
.site_boxthree:hover .site_threeword{
    color:red;
    background-color: rgba(0,0,0,.3);
    border-radius: 35px;
    font-size: 150%;
}
.site_three{
    background: -moz-linear-gradient(right, rgba(0,0,0,0.45), rgba(255,255,255,0.45)), url(https://i.imgur.com/nzP4a39.jpg);
    background-size: 100%;
    background-position: center;
    transition: 2s;
    transition-timing-function: ease;
    width: 40%;
}
.site_text{
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #fff;
    width: 50%;
}
.site_oneword{
    transition: 2s;
    transition-timing-function: ease;
}
.site_twoword{
    transition: 2s;
    transition-timing-function: ease;
}
.site_threeword{
    transition: 2s;
    transition-timing-function: ease;
}

/* 7- Site Blog Choice Styling */
.blog_blog{
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    text-align: center;
    color: #fff;
}
.blog_buttons{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 250px 250px 250px;
    grid-gap: 5px;
    grid-template-areas:
          "one one one one one one one one one one one one"
          "two two two two two two two two two two two two"
          "three three three three three three three three three three three three";
    color: #fff;
    border-radius: 5px;
    padding: 20px;
}
.blog_images{
    font-size: 150%;
    font-family: 'Raleway', sans-serif;
    text-align:center;
    border-radius: 20px;
}
.blog_boxone{
    grid-area: one;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.blog_boxone:hover .blog_one{
    background-size: 120%;
    border-radius: 0;
    color:red;
}
.blog_boxone:hover .blog_oneword{
    color:red;
    background-color: rgba(0,0,0,.3);
    border-radius: 35px;
    font-size: 150%;
}
.blog_one{
    background: -moz-linear-gradient(left, rgba(0,0,0,0.45), rgba(255,255,255,0.45)), url(https://i.imgur.com/Mi6vMHB.jpg);
    background-size: 100%;
    background-position: center;
    transition: 2s;
    transition-timing-function: ease;
    width: 40%;
}
.blog_boxtwo{
    grid-area: two;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.blog_boxtwo:hover .blog_two{
    background-size: 120%;
    border-radius: 0;
    color:red;
}
.blog_boxtwo:hover .blog_twoword{
    color:red;
    background-color: rgba(0,0,0,.3);
    border-radius: 35px;
    font-size: 150%;
}
.blog_two{
    background: -moz-linear-gradient(left, rgba(0,0,0,0.45), rgba(255,255,255,0.45)), url(https://i.imgur.com/FJK904Z.jpg);
    background-size: 100%;
    background-position: center;
    transition: 2s;
    transition-timing-function: ease;
    width: 40%;
}
.blog_boxthree{
    grid-area: three;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.blog_boxthree:hover .blog_three{
    background-size: 120%;
    border-radius: 0;
    color:red;
}
.blog_boxthree:hover .blog_threeword{
    color:red;
    background-color: rgba(0,0,0,.3);
    border-radius: 35px;
    font-size: 150%;
}
.blog_three{
    background: -moz-linear-gradient(left, rgba(0,0,0,0.45), rgba(255,255,255,0.45)), url(https://i.imgur.com/35yeNIP.jpg);
    background-size: 100%;
    background-position: center;
    transition: 2s;
    transition-timing-function: ease;
    width: 40%;
}
.blog_text{
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #fff;
    width: 50%;
}
.blog_oneword{
    transition: 2s;
    transition-timing-function: ease;
}
.blog_twoword{
    transition: 2s;
    transition-timing-function: ease;
}
.blog_threeword{
    transition: 2s;
    transition-timing-function: ease;
}


/* footer styling*/
.footy{
    font-size: 70%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}