@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Teko');


body{
  background-color: #55ebfc;
    height: 100%;
    width: 100%;
}

.name{
    color: #111fff;
    text-align: center;
    padding: 5px 0 5px;
    margin: 0px
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 450px 50px;
  grid-gap: 5px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "c c c c c c c c c c m m"
    ". f f f f f f f f f f .";
}
.logo {
  grid-area: l;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6127;
  border-radius: 10px;
    font-family: 'Righteous', cursive;
}
.header {
  grid-area: h;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc1ec;
  border-radius: 10px;
    font-family: 'Shrikhand', cursive;

}
.menu {
  grid-area: m;
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: #ffd939;
  border-radius: 10px;
    font-family: 'Teko', sans-serif;
}
.content {
  grid-area: c;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #55ebfc;
  border-radius: 10px;
    border: groove;
    font-family: 'Teko', sans-serif;
}
.footer {
  grid-area: f;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e100a7;
  border-radius:10px;
    font-family: 'Shrikhand', cursive;
}

@media screen and (max-width: 640px) {
  .container {
    grid-template-areas:
    "m m m m m l l h h h h h"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
  }
}