<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HAuto: Road to Enlightenment</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="vc1.css">
    <script type="text/javascript" scr=""></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="page-wrapper">
        <header class="title">
            <h1 class="titlemain">HAuto</h1>
            <div class="titlesecond">
                <div class="titleothers">hard auto: may your discovery restore your honor to avenge </div>
                <div class="titleothers">your losses and bring inevitable victory </div>
                <div class="titleothers">est 2017</div>
            </div>
        </header>
    <div class="center-image image_std">
            <div>
                <div class="site_choices">
                    <h3>Nothing ever exists entirely alone.</h3>
                    <p> Everything is in relation to everything else.</p>
                </div>
				<div class="site_buttons">
                    <div class="site_boxone">
                        <div class="site_images site_one">one</div>
                            <div class="site_text site_oneword">
                                <p>He who knows, does not speak.</p>
                                <p>He who speaks, does not know.</p>
                                <p>He who knows that enough is enough</p>
                                <p>will always have enough.</p>
                            </div>
                    </div>
                    <div class="site_boxtwo">
                        <div class="site_images site_two">two</div>
                            <div class="site_text site_twoword">
                                <p>Be content with what you have,</p>
                                <p>rejoice in the way things are.</p>
                                <p>When you realize there is nothing lacking,</p>
                                <p>the whole world belongs to you.</p>
                            </div>
                    </div>
                    <div class="site_boxthree">
                        <div class="site_images site_three">three</div>
                            <div class="site_text site_threeword">
                                <p>Besides the noble art of getting things done,</p>
                                <p>there is the noble art of leaving things undone.</p>
                                <p>The wisdom of life consists in the elimination of non-essentials.</p>
                            </div>
                    </div>
                </div>
            </div>
    </div>
        <footer class="footy">
            <p>Produced by Super Hard Auto ©</p>
            <p>The way out is through the door. Why is it that no one will use this method?</p>
        </footer>
        <script type="text/javascript" scr=""></script>
    </div>
</body>
</html>