<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HAuto: Road to Enlightenment</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hardblog.css' %}">
    <script type="text/javascript" scr=""></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="page-wrapper">
        <header class="title">
            <h1 class="titlemain">
                <a class="indexlink" href="{% url 'index' %}">HAuto</a>
                <a class="indexlink" href="{% url 'post_list' %}">hardblog</a>
                </h1>
            <div class="subtitle">
                <div class="titlesecond">
                    <div class="titleothers">hard auto: may your discovery restore your honor to avenge </div>
                    <div class="titleothers">your losses and bring inevitable victory </div>
                    <div class="titleothers">est 2017</div>
                </div>
                {% if user.is_authenticated %}
                <div class="bloggo">
                    <div>
                        <a href="{% url 'post_new' %}" class="top_menu"> + Create new post </a>
                    </div>
                    <div>
                    <a href="{% url 'post_draft_list' %}" class="top_menu"> + Edit a draft </a>
                    </div>
                    <div>
                    <p class="top_menu"> Hello {{ user.username }}<small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
                    </div>
                    <div>
                    <a href="{% url 'login' %}" class="top_menu"> Login </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="center-image image_std">
            <div class="main_grid">
                <div class="full_post">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
            <footer class="footy">
                <p>Produced by Super Hard Auto ©</p>
                <p>Preoccupied with a single leaf you won't see the tree.</p>
            </footer>
        <script type="text/javascript" scr=""></script>
    </div>
</body>
</html>