<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HAuto: Road to Enlightenment</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
    <script type="text/javascript" scr=""></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="page-wrapper">
        <header class="title">
            <h1 class="titlemain"><a class="indexlink" href="{% url 'index' %}">HAuto</a></h1>
                <div class="titlesecond">
                    <div class="titleothers">hard auto: may your discovery restore your honor to avenge </div>
                    <div class="titleothers">your losses and bring inevitable victory </div>
                    <div class="titleothers">est 2017</div>
                </div>
        </header>
        <div class="top-image image_std">
            <div>
                <div class="veh_choices">
                    <h3 class="subheaders"><a class="applinks" href="{% url 'choicebar' %}">hardauto</a></h3>
                    <p>The Road to Enlightenment.</p>
                    <p>To understand everything is to forgive everything.</p>
                    <p>Tour the vehicle below to continue your journey.</p>
                </div>
                <div class="veh_buttons">
                    <div class="veh_boxone">
                        <div class="veh_images veh_one">AE86</div>
                        <div class="veh_text veh_oneword">
                            <p>Established in 1983</p>
                            <p>Terminated in 1987</p>
                            <p>Toyota Trueno | Levin | Corolla</p>
                        </div>
                    </div>
                    <div class="veh_boxtwo">
                        <div class="veh_images veh_two">GT86</div>
                        <div class="veh_text veh_twoword">
                            <p>Established in 2012</p>
                            <p>Currently Active</p>
                            <p>Scion FR-S | Toyota GT86 | Subaru BRZ</p>
                        </div>
                    </div>
                    <div class="veh_boxthree">
                        <div class="veh_images veh_three">Future Vehicle</div>
                        <div class="veh_text veh_threeword">
                            <p>Besides the noble art of getting things done,</p>
                            <p>there is the noble art of leaving things undone.</p>
                            <p>The wisdom of life consists in the elimination of non-essentials.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-image image_std">
            <div>
                <div class="site_choices">
                    <h3 class="subheaders">hardmedia</h3>
                    <p>Nothing ever exists entirely alone.</p>
                    <p> Everything is in relation to everything else.</p>
                </div>
				<div class="site_buttons">
                    <div class="site_boxone">
                        <div class="site_images site_one">one</div>
                            <div class="site_text site_oneword">
                                <p>He who knows, does not speak.</p>
                                <p>He who speaks, does not know.</p>
                                <p>He who knows that enough is enough</p>
                                <p>will always have enough.</p>
                            </div>
                    </div>
                    <div class="site_boxtwo">
                        <div class="site_images site_two">two</div>
                            <div class="site_text site_twoword">
                                <p>Be content with what you have,</p>
                                <p>rejoice in the way things are.</p>
                                <p>When you realize there is nothing lacking,</p>
                                <p>the whole world belongs to you.</p>
                            </div>
                    </div>
                    <div class="site_boxthree">
                        <div class="site_images site_three">three</div>
                            <div class="site_text site_threeword">
                                <p>Besides the noble art of getting things done,</p>
                                <p>there is the noble art of leaving things undone.</p>
                                <p>The wisdom of life consists in the elimination of non-essentials.</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-image image_std">
            <div>
                <div class="blog_blog">
                    <h3 class="subheaders"><a class="applinks" href="{% url 'post_list' %}">hardblog</a></h3>
                    <p>The search for happiness is one of the chief sources of unhappiness.</p>
                    <p>When the mind is perfectly clear, what is is what we want.</p>
                </div>
                <div class="blog_buttons">
                    <div class="blog_boxone">
                        <div class="blog_images blog_one">blog title one</div>
                            <div class="blog_text blog_oneword">
                                <p>He who knows, does not speak.</p>
                                <p>He who speaks, does not know.</p>
                                <p>He who knows that enough is enough</p>
                                <p>will always have enough.</p>
                            </div>
                    </div>
                    <div class="blog_boxtwo">
                        <div class="blog_images blog_two">blog title two</div>
                            <div class="blog_text blog_twoword">
                                <p>Be content with what you have,</p>
                                <p>rejoice in the way things are.</p>
                                <p>When you realize there is nothing lacking,</p>
                                <p>the whole world belongs to you.</p>
                            </div>
                    </div>
                    <div class="blog_boxthree">
                        <div class="blog_images blog_three">blog title three</div>
                            <div class="blog_text blog_threeword">
                                <p>Besides the noble art of getting things done,</p>
                                <p>there is the noble art of leaving things undone.</p>
                                <p>The wisdom of life consists in the elimination of non-essentials.</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footy">
            <p>Produced by Super Hard Auto ©</p>
            <p>The way out is through the door. Why is it that no one will use this method?</p>
        </footer>
        <script type="text/javascript" scr=""></script>
    </div>
</body>
</html>